<footer class="page-footer bg-main text-light">
  <div class="d-flex justify-content-between align-items-center p-3">
    <span>
      Designed & Developed by Mostafa Gamal
    </span>
    <div class="social d-flex gap-2">
      <a class="fs-5" target="_blank" title="facebook" href="https://www.facebook.com/darshgemy">
        <span class="mdi mdi-facebook"></span>
      </a>
      <a class="fs-5" target="_blank" title="whatsapp" href="https://wa.me/01020089126">
        <span class="mdi mdi-whatsapp"></span>
      </a>
      <a class="fs-5" target="_blank" title="linkedin" href="https://www.linkedin.com/in/mostafagamal7030">
        <span class="mdi mdi-linkedin"></span>
      </a>
      <a class="fs-5" target="_blank" title="github" href="https://github.com/mostafagamal77">
        <span class="mdi mdi-github"></span>
      </a>

    </div>
  </div>
</footer>