<section class="container-fluid p-5">
  <div class="d-flex align-items-center gap-2 mb-3">
    <span class="mdi mdi-filter"></span>
    <input type="text" class="form-control" placeholder="Search by name" [(ngModel)]="nameSearchText" />
    <input type="number" class="form-control" placeholder="Search by amount" [(ngModel)]="searchAmount" />
    <input type="date" class="form-control" min="" placeholder="Search by Date" [(ngModel)]="searchDate" />
    <button type="button" class="btn btn-primary" (click)="resetFilters()">reset</button>
  </div>
  <div class="w-100 table-container rounded-3 mb-4">
    <table class="custom-table w-100 ">
      <thead class="bg-main text-light">
        <tr class="text-center">
          <th scope="col">CustomerId</th>
          <th scope="col">Name</th>
          <th scope="col">Transaction Date</th>
          <th scope="col">Amount</th>
        </tr>
      </thead>
      <tbody class="border border-1 ">
        <tr
          *ngFor="let customer of combinedData | nameFilter:nameSearchText | amountFilter:searchAmount | dateFilter:searchDate; index as i"
          (click)="selectCustomer(customer)" class="pointer text-center">
          <th scope="row">#{{ i + 1 }}</th>
          <td>{{ customer.name }}</td>
          <td>
            <div *ngFor="let item of customer.transactions">
              {{ item.date | date: 'dd/MM/yyyy' }}
            </div>
            <div *ngIf="!customer.transactions.length" class="text-capitalize">
              no transactions
            </div>
          </td>
          <td>
            <div *ngFor="let item of customer.transactions">
              {{ item.amount | currency}}
            </div>
            <div *ngIf="!customer.transactions.length" class="text-capitalize">
              N/A
            </div>
          </td>
        </tr>
        <div *ngIf="!combinedData.length" class="fw-medium text-danger text-center">
          No Date To Show
        </div>
      </tbody>
    </table>
  </div>
  <hr>
  <div id="chart" class="mt-2">
    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions" [yaxis]="chartOptions.yaxis" [xaxis]="chartOptions.xaxis"
      [fill]="chartOptions.fill" [title]="chartOptions.title"></apx-chart>
  </div>
</section>